---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gatus
resources:
  - ./gatus-namespace.yaml
  - ./gatus-helm-release.yaml
  - ./gatus-certificate.yaml
  - ./gatus-traefik-middleware.yaml
configMapGenerator:
  - name: gatus-values
    files:
      - values.yaml=gatus-values.yaml
configurations:
  - kustomizeconfig.yaml
