---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - ./immich-namespace.yaml
  - ./sealed-immich-secret-values.yaml
  - ./immich-pvc.yaml
  - ./immich-helm-release.yaml
  - ./immich-certificate.yaml
configMapGenerator:
  - name: immich-values
    files:
      - values.yaml=immich-values.yaml
configurations:
  - kustomizeconfig.yaml
