---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - ./authentik-namespace.yaml
  - ./sealed-authentik-secret-values.yaml
  - ./authentik-helm-release.yaml
  - ./authentik-certificate.yaml
configMapGenerator:
  - name: authentik-values
    files:
      - values.yaml=authentik-values.yaml
configurations:
  - kustomizeconfig.yaml
