---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./coredns-helm-release.yaml
configMapGenerator:
  - name: coredns-values
    files:
      - values.yaml=coredns-values.yaml
configurations:
  - kustomizeconfig.yaml
