---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  labels:
    app.kubernetes.io/name: homepage
data:
  LOG_TARGETS: stdout
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: CloudyDad Homepage
    color: slate
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
      provider: duckduckgo
  custom.css: ''
  custom.js: ''
  bookmarks.yaml: |
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/
    - Entertainment:
        - YouTube:
            - abbr: YT
              href: https://youtube.com/
  docker.yaml: ''
