---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage
resources:
  - ./homepage-namespace.yaml
  - ./homepage-certificate.yaml
  - ./sealed-secret.yaml
  - ./configmap.yaml
  - ./serviceaccount.yaml
  - ./service.yaml
  - ./deployment.yaml
  - ./ingress.yaml
  - ./rbac.yaml
