#!/bin/bash

# Bitwarden Password Manager Credentials
export BW_CLIENTID="your_bitwarden_client_id"
export BW_CLIENTSECRET="your_bitwarden_client_secret" # pragma: allowlist secret
export BW_PASSWORD="your_bitwarden_password"          # pragma: allowlist secret
export BW_SESSION="this_is_updated_by_makefile"
