---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./snapshot-controller-helm-release.yaml
configMapGenerator:
  - name: snapshot-controller-values
    files:
      - values.yaml=snapshot-controller-values.yaml
configurations:
  - kustomizeconfig.yaml
