---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vm-k8s-stack
resources:
  - ./vm-k8s-stack-namespace.yaml
  - ./sealed-alertmanager-config.yaml
  - ./vm-k8s-stack-helm-release.yaml
  - ./vm-k8s-stack-certificate.yaml
configMapGenerator:
  - name: vm-k8s-stack-values
    files:
      - values.yaml=vm-k8s-stack-values.yaml
configurations:
  - kustomizeconfig.yaml
