---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tempo
resources:
  - ./tempo-namespace.yaml
  - ./tempo-helm-release.yaml
configMapGenerator:
  - name: tempo-values
    files:
      - values.yaml=tempo-values.yaml
configurations:
  - kustomizeconfig.yaml
