---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wakapi
resources:
  - ./wakapi-namespace.yaml
  - ./sealed-wakapi-secret-values.yaml
  - ./wakapi-helm-release.yaml
  - ./wakapi-certificate.yaml
configMapGenerator:
  - name: wakapi-values
    files:
      - values.yaml=wakapi-values.yaml
configurations:
  - kustomizeconfig.yaml
