---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - ./cert-manager-namespace.yaml
  - ./cert-manager-helm-release.yaml
  - ./sealed-cert-manager-cloudflare-api-token.yaml
  - ./cert-manager-issuer.yaml
configMapGenerator:
  - name: cert-manager-values
    files:
      - values.yaml=cert-manager-values.yaml
configurations:
  - kustomizeconfig.yaml
