---
- name: Configure users
  import_tasks: users.yml
  tags: users

- name: Configure network settings
  import_tasks: network.yml
  tags: network

- name: Configure ssh
  import_tasks: ssh.yml
  tags: users

- name: Install packages
  import_tasks: packages.yml
  tags: packages
