---
- name: Ensure hostname set
  ansible.builtin.hostname:
    name: '{{ inventory_hostname }}'
  when: not inventory_hostname is match('(\d{1,3}\.){3}\d{1,3}')
  register: hostname
  tags: hostname

- name: Set timezone to UTC
  community.general.timezone:
    name: '{{ system_timezone }}'
  when: (system_timezone is defined) and (system_timezone != "UTC")

- name: Ensure primary network interface is named eth0
  when: ansible_distribution == "Ubuntu"
  notify: Reboot
  block:
    - name: Gather necessary network facts
      setup:
        gather_subset:
          - network

    - name: Identify the default route interface
      command: ip route show default
      register: default_route
      check_mode: false

    - name: Set fact for the default route interface
      set_fact:
        default_interface: '{{ default_route.stdout.split()[4] }}'

    - name: Print the default route interface
      debug:
        msg: 'Default route interface is {{ default_interface }}'

    - name: Set fact for the default route interface MAC address
      set_fact:
        interface_mac: "{{ ansible_facts[default_interface]['macaddress'] }}"

    - name: Print the default route interface MAC address
      debug:
        msg: 'Default route interface MAC address is {{ interface_mac }}'

    - name: Place the netplan configuration file
      copy:
        dest: /etc/netplan/10-interface-config.yaml
        mode: '0644'
        content: |
          network:
              ethernets:
                  {{ default_interface }}:
                      dhcp4: true
                      dhcp6: true
                      match:
                          macaddress: {{ interface_mac }}
                      set-name: eth0
              version: 2
