---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: karakeep
resources:
  - ./karakeep-namespace.yaml
  - ./karakeep-certificate.yaml
  - ./chrome-svc.yaml
  - ./karakeep-cm.yaml
  - ./karakeep-pvc.yaml
  - ./karakeep-svc.yaml
  - ./meilisearch-pvc.yaml
  - ./meilisearch-svc.yaml
  - ./meilisearch-deployment.yaml
  - ./chrome-deployment.yaml
  - ./karakeep-deployment.yaml
