---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system-upgrade
resources:
  - ./namespace.yaml
  - ./clusterrole.yaml
  - ./clusterrolebinding.yaml
  - ./system-upgrade-controller.yaml
  - https://github.com/rancher/system-upgrade-controller/releases/download/v0.14.2/crd.yaml
  - ./k3s-upgrade.yaml
  - ./apt-upgrade.yaml
