name: invidious

image:
  repository: quay.io/invidious/invidious
  # tag: latest
  # pullPolicy: Always

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''

# Setting replicaCount higher than 1 may cause PostgreSQL database deadlocks.
# This happens when multiple Invidious processes simultaneously attempt to refresh channel subscriptions for users.
replicaCount: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 16
  targetCPUUtilizationPercentage: 50

service:
  type: ClusterIP
  port: 3000
  # loadBalancerIP:

ingress:
  enabled: true
  className: 'traefik'
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: invidious.cloudydad.world
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: invidious-tls #pragma: allowlist secret

resources:
  {}
  # requests:
  #   cpu: 100m
  #   memory: 64Mi
  # limits:
  #   cpu: 800m
  #   memory: 512Mi

deploymentLabels: {}

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

nodeSelector: {}

tolerations: []

affinity: {}

# Reference: https://github.com/bitnami/charts/tree/main/bitnami/postgresql
postgresql:
  enabled: false
  image:
    tag: 16

sighelper:
  enabled: true
  resources: {}
  service:
    port: 12999
  image:
    repository: quay.io/invidious/inv-sig-helper
    tag: latest
    pullPolicy: Always
