---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/all.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: reloader
  namespace: flux-system
spec:
  interval: 1h
  url: https://stakater.github.io/stakater-charts
  timeout: 3m
