---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/all.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cilium
  namespace: flux-system
spec:
  path: ./clusters/cloudydad/infrastructure/network/cilium/app
  targetNamespace: kube-system
  sourceRef:
    kind: GitRepository
    name: cloudydad-data-center
  prune: true
  wait: true
  interval: 10m
