---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: uptime-kuma
resources:
  - ./uptime-kuma-namespace.yaml
  - ./sealed-uptime-kuma-secret-values.yaml
  - ./uptime-kuma-helm-release.yaml
  - ./uptime-kuma-certificate.yaml
configMapGenerator:
  - name: uptime-kuma-values
    files:
      - values.yaml=uptime-kuma-values.yaml
configurations:
  - kustomizeconfig.yaml
