---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana
spec:
  secretName: grafana-tls #pragma: allowlist secret
  dnsNames:
    - 'grafana.cloudydad.world'
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
