---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana
resources:
  - ./grafana-namespace.yaml
  - ./grafana-helm-release.yaml
configMapGenerator:
  - name: grafana-values
    files:
      - values.yaml=grafana-values.yaml
configurations:
  - kustomizeconfig.yaml
