---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudnative-pg
resources:
  - ./cloudnative-pg-namespace.yaml
  - ./cloudnative-pg-helm-release.yaml
configMapGenerator:
  - name: cloudnative-pg-values
    files:
      - values.yaml=cloudnative-pg-values.yaml
configurations:
  - kustomizeconfig.yaml
