---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sealed-secrets
resources:
  - ./sealed-secrets-namespace.yaml
  - ./sealed-secrets-helm-release.yaml
