---
- name: Reboot
  ansible.builtin.reboot:
    reboot_timeout: 3600

- name: Reload sudoers
  command: sudo -k

- name: Restart SSH Server
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Restart NetworkManager
  ansible.builtin.service:
    name: NetworkManager
    state: restarted
