write-kubeconfig-mode: "0644"
tls-san:
  - {{ apiserver_endpoint }}
{% if k3s_node_ip is defined and k3s_node_ip != 'N/A' %}
node-ip: {{ k3s_node_ip }}
{% endif %}
{% if flannel_iface is defined and calico_iface is not defined and cilium_iface is not defined %}
flannel-iface: {{ flannel_iface }}
{% endif %}
{% if calico_iface is defined or cilium_iface is defined %}
flannel-backend: none
disable-network-policy: true
cluster-cidr: {{ cluster_cidr | default('10.52.0.0/16') }}
{% endif %}
disable:
  - servicelb
  - traefik
{% if k3s_master_taint | default(false) %}
node-taint:
  - node-role.kubernetes.io/master=true:NoSchedule
{% endif %}
{% if k3s_node_labels is defined %}
node-label:
{% for label in k3s_node_labels %}
  - {{ label }}
{% endfor %}
{% endif %}
kube-apiserver-arg:
  - max-requests-inflight=150
  - max-mutating-requests-inflight=75
  - default-watch-cache-size=3000
  - request-timeout=30s
etcd-arg:
  - heartbeat-interval=250
  - election-timeout=5000
  - max-snapshots=5
  - snapshot-count=100000
  - quota-backend-bytes=2147483648
kubelet-arg:
  - enforce-node-allocatable=pods
{% if kubelet_system_reserved is defined %}
  - system-reserved={{ kubelet_system_reserved }}
{% endif %}
{% if kubelet_kube_reserved is defined %}
  - kube-reserved={{ kubelet_kube_reserved }}
{% endif %}
{% if kubelet_eviction_hard is defined %}
  - eviction-hard={{ kubelet_eviction_hard }}
{% endif %}
  - kube-api-qps=20
  - kube-api-burst=30
