---
- name: Gather and display facts for a host
  hosts: all
  tasks:
    - name: Gather facts
      ansible.builtin.setup:

    - name: Display all facts
      ansible.builtin.debug:
        var: ansible_facts
