---
- name: Pre tasks
  hosts: all
  pre_tasks:
    - name: Verify Ansible is version 2.11 or above. (If this fails you may need to update Ansible)
      assert:
        that: "ansible_version.full is version_compare('2.11', '>=')"
        msg: >
          "Ansible is out of date."

- name: Configure data center
  hosts: all
  gather_facts: true
  environment: '{{ proxy_env | default({}) }}'
  tags: system
  roles:
    - role: system
      become: true
