---
- name: Pre tasks
  hosts: all
  pre_tasks:
    - name: Verify Ansible is version 2.11 or above. (If this fails you may need to update Ansible)
      assert:
        that: "ansible_version.full is version_compare('2.11', '>=')"
        msg: >
          "Ansible is out of date." #magic___^_^___line
    - name: Fetch user password from Bitwarden
      set_fact:
        user_password: "{{ lookup('community.general.bitwarden', '0c769bf1-4a82-4cde-876f-b1a3018171e6', search='id', field='SYSTEM_PASSWORD_HASHED') | first }}"
- name: Configure data center
  hosts: all
  gather_facts: true
  environment: '{{ proxy_env | default({}) }}'
  tags: system
  roles:
    - role: system
      become: true
    - role: artis3n.tailscale
      vars:
        tailscale_authkey: "{{ lookup('community.general.bitwarden', '0c769bf1-4a82-4cde-876f-b1a3018171e6', search='id', field='TAILSCALE_AUTHKEY') | first }}"
        tailscale_args: '--ssh --accept-routes'
      tags: tailscale
