---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prometheus-crds
resources:
  - ./prometheus-crds-helm-release.yaml
configMapGenerator:
  - name: prometheus-crds-values
    files:
      - values.yaml=prometheus-crds-values.yaml
configurations:
  - kustomizeconfig.yaml
