name: Update changelog and tag
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  changelog:
    name: Generate changelog and tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          fetch-depth: 0
      - name: Set up Git for GitHub Actions
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Get next semantic version
        id: git-cliff-next-version
        uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # 4.4.2
        with:
          config: cliff.toml
          args: --verbose --bump
        env:
          GITHUB_REPO: ${{ github.repository }}
      - name: Create Tag
        run: |
          set +e
          version=${{ steps.git-cliff-next-version.outputs.version }}
          git tag "$version"
          git push origin "$version"
      - name: Generate changelog
        uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # 4.4.2
        with:
          config: cliff.toml
          args: --verbose --bump
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - name: Commit changelog
        run: |
          set +e
          version=${{ steps.git-cliff-next-version.outputs.version }}
          git add CHANGELOG.md
          git commit -m "docs(CHANGELOG.md): release ${version}"
          git branch -m main
          git push origin HEAD
