name: Update changelog and tag
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  changelog:
    name: Generate changelog and tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # 4.1.7
        with:
          fetch-depth: 0
      - name: Set up Git for GitHub Actions
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Get next semantic version
        id: next_version
        run: |
          version=$(git-cliff --bumped-version)
          echo "Next version: $version"
          echo "version=$version" >> "$GITHUB_OUTPUT"
      - name: Create Tag
        run: |
          set +e
          version=${{ steps.next_version.outputs.version }}
          git tag "$version"
          git push origin "$version"
      - name: Generate changelog
        uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # 4.4.2
        with:
          config: cliff.toml
          args: --verbose --bump
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - name: Commit changelog
        run: |
          set +e
          git add CHANGELOG.md
          git commit -m "docs: update CHANGELOG.md"
          git branch -m main
          git push origin HEAD
