---
name: Linting
on:
  workflow_call:
jobs:
  pre-commit-ci:
    name: Pre-Commit
    runs-on: ubuntu-24.04
    env:
      PYTHON_VERSION: '3.12'
    steps:
      - name: Check out the codebase
        uses: actions/checkout@4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
